[Unit]
Description="M3DB Timeseries Database"
Documentation=https://docs.m3db.io/
After=network.target

[Service]
WorkingDirectory=/opt/m3coordinator
Type=simple
ExecStart=/opt/m3coordinator/bin/m3coordinator -f /opt/m3coordinator/etc/m3coordinator.yml
Restart=on-failure
RestartSec=10s
SuccessExitStatus=0

[Install]
WantedBy=multi-user.target
